<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>search</title>
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<div data-role="page" id="page2" data-theme="a">

    <div data-role="header">

        <a href="#myPanel"
           class="ui-btn ui-btn-inline ui-corner-all ui-shadow ui-icon-grid ui-btn-icon-notext ui-nodisc-icon "></a>
        <h1>发布公告</h1>
    </div>

    <div data-role="content">
      <form method="post" action="" > <!--action（未编辑）为表单提交到数据库-->
      <div class="ui-grid-b">
        <div class="ui-block-a">
        	<div data-role="fieldcontain">
            <label for="headline">标题：</label>
            <input type="text" name="headline" id="headline" value=""  />
          </div>
        </div>
        <div class="ui-block-b"></div>
        <div class="ui-block-c"></div>
      </div>  <!--  公告标题输入，分为一行三列网格-->
      &nbsp;&nbsp;
      <div data-role="fieldcontain">  
        <label for="textarea">公告内容：</label>
        <textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>
      </div>  <!--  公告内容输入--> 
      &nbsp;&nbsp;
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-type="vertical">
          <legend>查看范围：</legend>
          <input type="checkbox" name="checkbox1" id="checkbox1_0" class="custom" value="" />
          <label for="checkbox1_0">全体老人家属</label>
          <input type="checkbox" name="checkbox1" id="checkbox1_1" class="custom" value="" />
          <label for="checkbox1_1">全体护工</label>
        </fieldset>
      </div>  <!--  查看范围选择-->
      &nbsp;&nbsp;
      <input type="submit" value="提交" data-icon="star" data-iconpos="left" />
      </form>
    </div>

</div>
</body>
</html>
