<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>search</title>
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

<div data-role="page" id="page1" data-theme="a">

    <div data-role="header">

        <a href="#myPanel"
           class="ui-btn ui-btn-inline ui-corner-all ui-shadow ui-icon-grid ui-btn-icon-notext ui-nodisc-icon "></a>
        <h1>我的反馈</h1>
    </div>

    <div data-role="content"> 
        <div role="main" class="ui-content">
        <ul data-role="listview" data-inset="true">
                <li>
                    <a href="#">
                        <h3>反馈标题1</h3>
                        <p class="topic"><strong>2020.03.04</strong></p>
						<br/>
                        <p>反馈信息：</p>
                        <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
                    </a>
                </li>
               <li>
                    <a href="#">
                        <h3>反馈标题1</h3>
                        <p class="topic"><strong>2020.03.04</strong></p>
						<br/>
                        <p>反馈信息：</p>
                        <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>反馈标题1</h3>
                        <p class="topic"><strong>2020.03.04</strong></p>
						<br/>
                        <p>反馈信息：</p>
                        <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
                    </a>
                </li>
            </ul>

        </div><!-- /content -->

    </div>

</div>

</body>
</html>
