<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Identity</title>
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<div data-role="page" id="page2" data-theme="a">

    <div data-role="header">

        <a href="#myPanel"
           class="ui-btn ui-btn-inline ui-corner-all ui-shadow ui-icon-grid ui-btn-icon-notext ui-nodisc-icon "></a>
        <h1>请选择您的身份</h1>
    </div>

    <div data-role="content" align="center">
        <figure>&nbsp;
            <figcaption>&nbsp;</figcaption>
        </figure>
        <div>
            <h1></h1>
        </div>
        <div class="ui-grid-b" align="center">
            <div class="ui-block-a" align="center">
                <img src="../static/images/养老院身份.jpg" width="130" height="130" alt=""/>
                <a href="/identity/1" data-role="button">养老院</a>
            </div> <!--养老院方-->
            <div class="ui-block-b"></div>
            <div class="ui-block-c" align="center">
                <img src="../static/images/护工身份.jpg" width="130" height="130" alt=""/>
                <a href="/identity/2" data-role="button">护工</a>
            </div><!--护工方-->
        </div>
        <h2></h2>
        <div class="ui-grid-b">
            <div class="ui-block-a">&nbsp;</div>
            <div class="ui-block-b">
                <img src="../static/images/家属身份.jpg" width="130" height="130" alt=""/>
                <a href="/identity/3" data-role="button">老人家属</a>
            </div>
            <div class="ui-block-c">&nbsp;</div>
        </div> <!--家属方-->
    </div>
</div>
</body>
</html>
