<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Identity</title>
<link href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" rel="stylesheet" type="text/css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
</head>

<body>

<div data-role="page" id="page2" data-theme="d">
	
<div data-role="header">
	  
  <a href="#myPanel" class="ui-btn ui-btn-inline ui-corner-all ui-shadow ui-icon-grid ui-btn-icon-notext ui-nodisc-icon " ></a>
	<h1>请选择您的身份</h1>
 </div>
	
<div data-role="content" align="center">
  <div class="ui-grid-d">
    <div class="ui-block-a"></div>
    <div class="ui-block-b" align="center">
   	  <img src="../static/images/养老院身份.jpg" width="100" height="100" alt=""/> 
   	  </div>
    <div class="ui-block-c"></div>
    <div class="ui-block-d" align="center">
   	  <img src="../static/images/护工身份.jpg" width="100" height="100" alt=""/> </div>
    <div class="ui-block-e"></div>
    <div class="ui-block-a"></div>
    <div class="ui-block-b" align="center">
    <a href="#" class="ui-mini" data-role="button">院方</a>
    </div>
    <div class="ui-block-c"></div>
    <div class="ui-block-d" align="center">
    <a href="#" class="ui-mini" data-role="button">护理员</a>
    </div>
    <div class="ui-block-e"></div>
  </div>
  
  
  <div class="ui-grid-d">
    <div class="ui-block-a"></div>
    <div class="ui-block-b"></div>
    <div class="ui-block-c" align="center">
      <img src="../static/images/家属身份.jpg"  width="100" height="100" alt=""/> 
      </div>
    <div class="ui-block-d"></div>
    <div class="ui-block-e"></div>
    <div class="ui-block-a"></div>
    <div class="ui-block-b"></div>
    <div class="ui-block-c" align="center">
   <a href="#" class="ui-mini" data-role="button">家属</a>
      
      </div>
    <div class="ui-block-d"></div>
    <div class="ui-block-e"></div>
  </div>
  
	
</div>

   <div data-role="footer">
    <h4>脚注</h4>
  </div>
</div>
   
</body>
</html>
