<!doctype html>
<!--以下是注册界面-->
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>search</title>
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<div data-role="page" id="page2" data-theme="a">
    <div data-role="content">
        <div>
            <h2 align="center"><strong>欢迎您注册EldCare！</strong></h2>
            <form role="form" action="/signUp" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1"
                    >用户名:&nbsp; &nbsp;
                    </label>
                    <input
                            type="email"
                            class="form-control"
                            id="exampleInputEmail1"
                            name="name"
                    />
                </div>
                <h5></h5>
                <div class="form-group">
                    <label for="exampleInputPassword5">密码:</label>
                    <input
                            type="password"
                            class="form-control"
                            id="exampleInputPassword3"
                            name="password"
                    />
                </div>
                <h5></h5>
                <div class="form-group">
                    <label for="exampleInputPassword7">确认密码:</label>
                    <input
                            type="password"
                            class="form-control"
                            id="exampleInputPassword"
                    />
                </div>
                <h5></h5><h5></h5>
                <div class="ui-grid-b">
                  <div class="ui-block-a"></div>
                  <div class="ui-block-b">
					<button
                        type="submit"
                        class="btn btn-primary btn-block btn-warning"
                >
            注册
        </button>
					</div>
                  <div class="ui-block-c"></div>
                </div>

            </form>
        </div>
        <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12" th:if="${error!=null}"
             th:text="${error}"></div>
    </div>
</div>
</body>
</html>
